@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>This Privacy Policy explains how we collect, use, disclose, and safeguard your personal information when you visit our website <a href=http://localhost:5001/(the_one_API?)></a>. Please read this Privacy Policy carefully. By accessing or using the Site, you agree to be bound by the terms and conditions of this Privacy Policy. If you do not agree with the terms and conditions of this Privacy Policy, please do not access the Site.</p>